<!DOCTYPE html>
<html>
<body>
  <title>Page doesn't exist</title>

  <link href = "{{ url_for('static', filename='css/bootstrap.min.css')}}"
  rel="stylesheet"/>

  <link href = "{{url_for('static', filename='css/mymunrocss.css')}}"
  rel="stylesheet"/>
  <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
       data-toggle="collapse" data-target="#navbar" aria-expanded="false"
       aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       </button>
          <a class="navbar-brand" href="http://0.0.0.0:5000">My Munros</a>
       </div>
       <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <li><a href="http://0.0.0.0:5000">Home</a></li>
        <li><a href="http://0.0.0.0:5000/add-munro.html">AddMunro</a></li>
        <li><a href="http://0.0.0.0:5000/list-munros.html">ViewList</a></li>
        </ul>
      </div>
   </nav>
<div class="center">
  <h1>Requested page does not exist<h1>
</div>


  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>
