<!DOCTYPE html>
<html>
  <body>
  <title>Add a Munro</title>
  
  <link href=" {{url_for('static', filename='css/bootstrap.min.css') }}"
  rel="stylesheet"/>

  <link href=" {{url_for('static', filename='css/mymunrocss.css') }}"
  rel="stylesheet"/>

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar" aria-expanded="false"
      aria-controls="navbar">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://0.0.0.0:5000">My Munros</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li> <a href="http://0.0.0.0:5000">Home</a></li>
          <li class="active"> <a href="http://0.0.0.0:500/add-munro.html">Add Munro</a></li>
          <li> <a href="http://0.0.0.0:5000/list-munros.html">View List</a></li>
        </ul>
       </div>
    </nav>
<div class="center">  
  <h2>Add a munro</h2>
    <form action = "{{url_for('addmunro')}}" method='POST' 
    enctype = "multipart/form-data">
      Name<br>
      <input type="text" name="mnName"/><br>
      Description<br>
      <input type="text" name="mnDesc"/><br>
      Region<br>
      <input type="text" name="mnRegion"/><br>
      Height<br>
      <input type="text" name="mnHeight"/><br>
      Walk Date<br>
      <input type="text" name="mnDate"/><br>
      Walk image<br>
      <input type="text" name="mnImage"/><br>
      <br>
      <br>
      <input type="submit" name="add-munro.html" value="ADD MUNRO">
    <form>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src=" {{ url_for('static',filename='js/bootstrap.min.js')}} "></script>
</body>
</html>


