<!DOCTYPE html>
<html>
<body>
  <title>Display Munro</title>
  
  <link href=" {{url_for('static', filename='css/bootstrap.min.css') }}"
  rel="stylesheet"/>
  
  <link href=" {{ url_for('static', filename='css/mymunrocss.css') }}"
  rel="stylesheet"/>

 <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
   <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed"
         data-toggle="collapse" data-target="#navbar" aria-expanded="false"
         aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
            <a class="navbar-brand" href="http://0.0.0.0:5000">My Munros</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
              <li><a href="http://0.0.0.0:5000">Home</a></li>
              <li><a href="http://0.0.0.0:5000/add-munro.html">AddMunro</a></li>
              <li><a href="http://0.0.0.0:5000/list-munros.html">ViewList</a></li>
              </ul>
            </div>
          </nav>
<div class="center">
<h2>Here are the details for {{ mnDisplay.name }}</h2>
  <h2>name of mountain</h2>
  {{ mnDisplay.name }}
  <h2>Desciption</h2>
  {{ mnDisplay.desc }}
  <h2>Region</h2>
  {{ mnDisplayregion}}
  <h2>heigh</h2>
  {{mnDisplay.height}}
  <h2>Date of ascent</h2>
  {{mnDisplay.date}}
</div>


  <script src ="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquesry.min.js"></script>
  <script src = "{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>





</html>
</body>





