<!DOCTYPE html>
<html>
<body>
  <title>My Munros</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
  rel="stylesheet" />

  <link href="{{ url_for('static', filename='css/mymunrocss.css') }}" 
  rel="stylesheet" />
  

<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="http://0.0.0.0:5000">My Munros</a>
  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class = "active"><a href="http://0.0.0.0:5000">Home</a></li>
      <li><a href="http://0.0.0.0:5000/add-munro.html">Add Munro</a></li>
      <li><a href="http://0.0.0.0:5000/list-munros.html">View List</a></li>
    </ul>
  </div>
</nav>
<div class="test">
  <h2>Welcome to My Munros</h2>
  <img
    src="/static/img/benlomond.jpg" alt="Ben Lomond">
</div>
  


  <script src ="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src=" {{ url_for('static', filename='js/bootstrap.min.js')}} "></script>
</body>
</html>
