<!DOCTYPE html>
<html>
<body>
  <title>List of Munros</title>

  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
  rel="stylesheet"/>

  <link href="{{ url_for('static', filename='css/mymunrocss.css') }}"
  rel="stylesheet"/>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar" aria-expanded="false"
      aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand" href="http://0.0.0.0:5000">My Munros</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="http://0.0.0.0:5000">Home</a></li>
                <li><a href="http://0.0.0.0:5000/add-munro.html">AddMunro</a></li>
                <li class="active"><a href="http://0.0.0.0:5000/list-munros.html">ViewList</a></li>
              </ul>
            </div>
          </nav>
<div class="center">
  <h2>Here is the list of the Munros you have climbed</h2><br>
  <table border=1 frame=hsides rules=rows>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Region</th>
      <th>Height</th>
      <th>Date</th>
      <th>Amend/View</th>
    </tr>
      {% for munro in mnList %}
    <tr>
      <td> {{ munro.img}} </td>
      <td> {{ munro.name }} </td>
      <td> {{ munro.desc }} </td>
      <td> {{ munro.region }} </td>
      <td> {{ munro.height }} </td>
      <td> {{ munro.date }} </td>
      <td>
        <form action= "{{ url_for('listmunros')}}" method="POST">
          <input type=hidden value="{{munro.name}}" name="mnDelete">
          <input type="submit" value="delete"></input>
        </form>
        <input type="submit" value="amend">
        <form action=" {{url_for('displaymunro')}}" method="GET">
          <input type=hidden value="{{munro.name}}" name="mnToDisplay">
          <input type="submit" value="view"></input>
        </form>
      </td>
    </tr>
      {% endfor %}
</div>

    <script src = "https://ajax.googleapis.com/ajax/libs/jquesry/1.11.3/jquesry.min.js"></script>

    <script stc = "{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>


</body>
</html>
