body{
  padding-top:50px;
  padding-left: 30px;
  width:50%;
  margin 0 auto;
  }
h1{
  color:#D3D3D3;
  }
.test{
  background-color: white;
  position:absolute;
  margin: 0 auto;
  display: block;
}
h2{
  color: green;
  }



